@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Days One', sans-serif;
    font-family: 'Dela Gothic One', cursive;
    color: whitesmoke;
}

body {
    background-color: rgb(10, 10, 10);
}

header {
    height: 100vh;
    width: 100%;
    position: fixed;
    overflow-y: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}


.background {
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}

.title {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 10vh;
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: 2px;
}

.projects-layer{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10rem;
    padding: 10rem 0;
    text-transform: uppercase;
}

.project-item {
    opacity: 10%;
    transition: opacity 1.5s ease;
    padding: 0rem;
}

.project-item:hover {
    opacity: 100%;
    cursor: pointer;
}

footer {
    background-color: blue;
    height: 8vh;
    width: 100%;
}

#cacti_bg {
    visibility: hidden;
}

#stussy_bg {
    visibility: hidden;
}

#ballastpt_bg {
    visibility: hidden;
}

#wedding_bg {
    visibility: hidden;
}

#br8s_bg {
    visibility: hidden;
}

.opacity-effect {
    transition: opacity 2s ease-in-out;
    opacity: 100%;
}

