@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Days One', sans-serif;
    font-family: 'Dela Gothic One', cursive;
    color: whitesmoke;
}

body {
    width: 100%;
    background-color: rgb(10, 10, 10);
}

header {
    height: 100vh;
    width: 100%;
    position: fixed;
    overflow-y: scroll;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#logo {
    z-index: 4;
    height: 10vh;
    position: fixed;
    left: 0;
    top: 0;
    margin: 3rem;
    opacity: 20%;
}

#logo:hover {
    cursor: pointer;
}

#transition_layer {
    background-color: rgb(230, 230, 230);
    position: fixed;
    z-index: 6;
    top: 0;
    height: 100vh;
    width: 120%;
    transform: translate(-2500px, 0px);
}

#grain_layer {
    height: 100vh;
    width: 100%;
    top: 0;
    background-image: url("images/pexels-saulo-zayas-246212.jpg");
    background-position: center;
    background-size: cover;
    position: fixed;
    z-index: 7;
    opacity: 4%;
    pointer-events: none;
}

#about_layer {
    background-color: rgb(10, 10, 10);
    position: fixed;
    z-index: 5;
    top: 0;
    height: 100vh;
    width: 100%;
    transform: translate(-2000px, 0px);
}

#about_content {
    margin: 25vh 0 0 0;
    display: flex;
    flex-direction: column;
    padding: 0% 20%;
}

.about-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
    font-weight: normal;
    color: rgb(209, 209, 209);
    text-transform: uppercase;
    line-height: 1.1rem;
    margin: 1rem 0;
    opacity: 0;
}

#exit_button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 2rem;
    height: 2vh;
    width: 2vh;
    background-image: url("images/cross.svg");
    background-size: contain;
    opacity: 0;
}

#exit_button:hover {
    cursor: pointer;
}

#socials_layer {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
}

.social-link {
    height: 3vh;
    width: 3vh;
    margin: 1rem 0;
    opacity: 0;
}

.social-link:hover {
    cursor: pointer;
}

a {
    text-decoration: none;
}

.wrapper { 
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgb(10, 10, 10);
    top: 0;
    z-index: 10;
}

.background {
    position: fixed;
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: 0;
}

.title {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    top: 10vh;
    text-align: center;
    font-size: 0.7rem;
    letter-spacing: 2px;
}

.projects-layer{
    overflow-x: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10rem;
    padding: 10rem 0;
    text-transform: uppercase;
}

.project-item {
    opacity: 20%;
    transition: opacity 1s ease;
    padding: 0rem;
}

.project-item:hover {
    opacity: 100%;
    cursor: pointer;
}

footer {
    background-color: blue;
    height: 8vh;
    width: 100%;
}

#cacti_bg {
    visibility: hidden;
}

#stussy_bg {
    visibility: hidden;
}

#ballastpt_bg {
    visibility: hidden;
}

#wedding_bg {
    visibility: hidden;
}

#br8s_bg {
    visibility: hidden;
}

@media screen and (max-width: 1200px) {
    .projects-layer{
        font-size: 7rem;
    }
}

@media screen and (max-width: 1000px) {
    .projects-layer{
        font-size: 6rem;
    }

    .project-item {
        padding: 1rem 0;
    }
}

@media screen and (max-width: 800px) {
    .projects-layer{
        font-size: 4rem;
    }

    .project-item {
        padding: 2rem 0;
    }
}

@media screen and (max-width: 650px) {
    .projects-layer{
        font-size: 3.5rem;
    }

    .project-item {
        padding: 2rem 0;
    }

    #logo {
        z-index: 4;
        height: 10vh;
        position: fixed;
        left: 0;
        top: 0;
        margin: 2rem;
        opacity: 20%;
    }

    #about_content {
        margin: 20vh 0 0 0;
        padding: 0% 15%;
    }

    #logo {
        height: 8vh;
    }
}